# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Data and Artifacts (large binary tensors & raw dumps)
data/*.jsonl
data/*.pkl
data/*.pt
checkpoints/*.pt
experiments/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
